<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
		<mat-toolbar id="title">Estudos Angular</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item routerLink="{{oRoute.path}}" routerLinkActive="active" *ngFor="let oRoute of aRoutes">
				<mat-icon aria-label="{{oRoute.icon}}">{{oRoute.icon}}</mat-icon>
				{{oRoute.label}}
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
				*ngIf="isHandset$ | async" layout-align="end-start">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
		</mat-toolbar>
		<!-- Add Content Here -->
		<div id="content">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>