.sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 200px;
  background-color: cornflowerblue;
}

.mat-list-item {
  color: white;
}

#content {
  padding-left: 20px;
  padding-right: 20px;
}

.mat-toolbar {
  background-color: cornflowerblue;
  color: white;
}

.mat-icon {
  margin-right: 3px;
  padding-bottom: 3px;
}